# Compiled class files
*.class

# Bytecode directories
target/
bin/
out/

# IDE-specific files
.idea/
*.iml
*.ipr
*.iws

# Eclipse-specific files
.classpath
.project
.settings/

# NetBeans-specific files
nb-configuration.xml
nbproject/private/
build/
dist/
nbdist/
.nb-gradle/

# Intellij-specific files
out/
build/

# JUnit report files
TEST-*.xml

# Operating System files
.DS_Store
Thumbs.db
